<ion-header>
    <ion-navbar core-back-button>
        <ion-title>{{ 'core.login.connecttomoodle' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only navPush="CoreAppSettingsPage" [attr.aria-label]="'core.settings.appsettings' | translate">
                <core-icon name="fa-cogs"></core-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div>
        <div text-center padding margin-bottom [class.hidden]="hasSites || enteredSiteUrl" class="core-login-site-logo">
            <img src="assets/img/login_logo.png" class="avatar-full login-logo" role="presentation">
        </div>
        <form ion-list [formGroup]="siteForm" (ngSubmit)="connect($event, siteForm.value.siteUrl)" *ngIf="!fixedSites" #siteFormEl>
            <!-- Form to input the site URL if there are no fixed sites. -->
            <ng-container *ngIf="siteSelector == 'url'">
                <ion-item>
                    <ion-label stacked><h2>{{ 'core.login.siteaddress' | translate }}</h2></ion-label>
                    <ion-input name="url" type="url" placeholder="{{ 'core.login.siteaddressplaceholder' | translate }}" formControlName="siteUrl" [core-auto-focus]="showKeyboard && !showScanQR"></ion-input>
                </ion-item>
            </ng-container>
            <ng-container *ngIf="siteSelector != 'url'">
                <ion-item>
                    <ion-label stacked><h2>{{ 'core.login.siteaddress' | translate }}</h2></ion-label>
                    <ion-input name="url" placeholder="{{ 'core.login.siteaddressplaceholder' | translate }}" formControlName="siteUrl" [core-auto-focus]="showKeyboard && !showScanQR" (ionChange)="searchSite($event, siteForm.value.siteUrl)"></ion-input>
                </ion-item>

                <ion-list [class.hidden]="!hasSites && !enteredSiteUrl" class="core-login-site-list">
                    <ion-item no-lines class="core-login-site-list-title"><h2 class="item-heading">{{ 'core.login.selectsite' | translate }}</h2></ion-item>
                    <button ion-item *ngIf="enteredSiteUrl" (click)="connect($event, enteredSiteUrl.url)" [attr.aria-label]="'core.login.connect' | translate" detail-push class="core-login-entered-site">
                        <ion-thumbnail item-start>
                            <core-icon name="fa-pencil"></core-icon>
                        </ion-thumbnail>
                        <h2 text-wrap>{{ 'core.login.yourenteredsite' | translate }}</h2>
                        <p>{{enteredSiteUrl.noProtocolUrl}}</p>
                    </button>

                    <div class="core-login-site-list-found" [class.hidden]="!hasSites" [class.dimmed]="loadingSites">
                        <div *ngIf="loadingSites" class="core-login-site-list-loading"><ion-spinner></ion-spinner></div>
                        <button ion-item *ngFor="let site of sites" (click)="connect($event, site.url, site)" [attr.aria-label]="site.name" detail-push>
                            <ion-thumbnail item-start *ngIf="siteFinderSettings.displayimage">
                                <img [src]="site.imageurl" *ngIf="site.imageurl" onError="this.src='assets/icon/icon.png'">
                                <img src="assets/icon/icon.png" *ngIf="!site.imageurl" class="core-login-default-icon">
                            </ion-thumbnail>
                            <h2 *ngIf="site.title" text-wrap>{{site.title}}</h2>
                            <p *ngIf="site.noProtocolUrl">{{site.noProtocolUrl}}</p>
                            <p *ngIf="site.location">{{site.location}}</p>
                        </button>
                    </div>
                </ion-list>

                <div *ngIf="!hasSites && loadingSites" class="core-login-site-nolist-loading"><ion-spinner></ion-spinner></div>
            </ng-container>

            <ion-item *ngIf="siteSelector == 'url'" no-lines>
                <button ion-button block [disabled]="!siteForm.valid" text-wrap>{{ 'core.login.connect' | translate }}</button>
            </ion-item>
        </form>

        <ng-container *ngIf="fixedSites">
            <!-- Pick the site from a list of fixed sites. -->
            <ion-list *ngIf="siteSelector == 'list'">
                <ion-item no-lines><h2 class="item-heading">{{ 'core.login.selectsite' | translate }}</h2></ion-item>
                <ion-searchbar *ngIf="fixedSites.length > 4" [(ngModel)]="filter" (ionInput)="filterChanged($event)" (ionCancel)="filterChanged()" [placeholder]="'core.login.findyoursite' | translate"></ion-searchbar>
                <ion-item *ngFor="let site of filteredSites" (click)="connect($event, site.url)" [title]="site.name" detail-push text-wrap>
                    <h2>{{site.name}}</h2>
                    <!-- <p *ngIf="siteSelector == 'list'">{{site.url}}</p> -->
                </ion-item>
            </ion-list>

            <!-- Display them using buttons. -->
            <div *ngIf="siteSelector == 'buttons'">
                <p class="padding no-padding-bottom">{{ 'core.login.selectsite' | translate }}</p>
                <a *ngFor="let site of fixedSites" text-wrap ion-button block (click)="connect($event, site.url)" [title]="site.name" margin-bottom>{{site.title}}</a>
            </div>
        </ng-container>

        <ng-container *ngIf="showScanQR && !hasSites && !enteredSiteUrl">
            <div class="core-login-site-qrcode-separator">{{ 'core.login.or' | translate }}</div>
            <ion-item class="core-login-site-qrcode" no-lines>
                <a ion-button block color="light" margin-top icon-start (click)="showInstructionsAndScanQR()" text-wrap>
                    <core-icon name="fa-qrcode" aria-hidden="true"></core-icon>
                    {{ 'core.scanqr' | translate }}
                </a>
            </ion-item>
        </ng-container>

        <!-- Help. -->
        <ion-list no-lines margin-top class="core-login-need-help core-login-link">
            <a ion-item text-center text-wrap (click)="showHelp()" detail-none>
                {{ 'core.needhelp' | translate }}
            </a>
        </ion-list>
    </div>
</ion-content>
